
body {
    background-color: black;
    font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif;
}
#topmenu {
    display: none;
}
#dropdownmenu {
    display: none;
}
.fa-heart {
    color: red;
}
.fa-comment {
    color: red;
}
#wrapperhome {
    background-color: #1b1b1b;
    width: 1088px;
    height: 3550px;
    margin: -7px auto auto auto;
    color: white;
}
#wrapper {
    background-color: #1b1b1b;
    width: 1088px;
    height: 2453px;
    margin: -7px auto auto auto;
    color: white;
}
#containerhome {
    background-color: inherit;
    width: 1048px;
    height: 3224px;
    margin: auto;
}
#container {
    background-color: inherit;
    width: 1048px;
    height: 2453px;
    margin: auto;
}
#header {
    background-color: inherit;
    width: 1048px;
    height: 150px;
    margin: auto;
}
#menurecent {
    box-sizing: border-box;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/recent_release_bong.png) no-repeat right top;
}
#menuadv {
    box-sizing: border-box;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/adverting_bong.png) no-repeat right top;
    width: 298px;
    height: 40px;
    border: white solid 1px;
    float: right;
}
#recent {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 1468px;
    border: white solid 1px;
    float: left;
    padding: 0 16px;
}
#adv {
    box-sizing: border-box;
    background-color: inherit;
    width: 298px;
    height: 831px;
    border: white solid 1px;
    float: right;
}
#menuupdate {
    box-sizing: border-box;
    background:url(https://statics.gogoanime.se/img/bg/comedy_bong.png) no-repeat right top #ffc119;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float:left;
    margin-top: 60px;
}
#menuongoing {
    box-sizing: border-box;
    background: url(https://statics.gogoanime.se/img/bg/ongoing_bong.png) #ffc119 right top no-repeat ;
    width: 298px;
    height: 40px;
    border: white solid 1px;
    float: right;
    margin-top: -610px;
}
#menuongoing h2 {
    color: #252525;
    font-size: 13px;
    margin-left: 67px;
}
#update {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 590px;
    border: white solid 1px;
    float:left;
}
#ongoing {
    box-sizing: border-box;
    background-color:inherit;
    width: 298px;
    height: 1674px;
    border: white solid 1px;
    float: right;
    margin-top: -671px;
}
#menuseries {
    box-sizing: border-box;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/added_series_bong.png) no-repeat right top;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    margin-top: 30px;
}
#menuseries h2 {
    color: #252525;
    font-size: 13px;
    margin-left: 67px;
}
#series {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 540px;
    border: white solid 1px;
    float: left;
}
#menugenrehome {
    box-sizing: border-box;
    background: url(https://statics.gogoanime.se/img/bg/genre_bong.png) no-repeat right top #ffc119;
    width: 298px;
    height: 40px;
    border: white solid 1px;
    float: right;
    margin-top: 30px;
}
#menugenrehome h2 {
    color: #252525;
    font-size: 14px;
    margin-left: 67px;
}
#imggenrehome {
    background: url(https://statics.gogoanime.se/img/bg/genres.png) no-repeat center bottom;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
#genrehome {
    box-sizing: border-box;
    background-color: inherit;
    width: 298px;
    height: 370px;
    border: white solid 1px;
    float: right;
}
#genrehome ul {
    list-style-type: none;
}
#genrehome ul li a {
    text-decoration: none;
    color: #ffc119;
}
#footerhome {
    clear: both;
    background-color: inherit;
    width: 1048px;
    height: 98px;
    border-top: rgba(0, 0, 0, 0.2) groove 4px;
    margin-top: 3275px;
}
#footerhome div:nth-child(1) {
    float: left;
    margin: 30px 0 0 40px;
}
#footerhome div:nth-child(1) a {
    text-decoration: none;
    font-size: 13px;
    color: #959595;
    padding-right: 10px;
}
#footerhome div:nth-child(1) p {
    padding-top: 10px;
    font-size: 13px;
    color: #959595;
}
#footerhome div:nth-child(2) {
    float: right;
    padding: 0 15px;
    width: 280px;
    margin-top: 40px;
}
#footer {
    clear: both;
    background-color: inherit;
    width: 1048px;
    height: 98px;
    border-top: rgba(0, 0, 0, 0.2) groove 4px;
}
#footer div:nth-child(1) {
    float: left;
    margin: 30px 0 0 40px;
}
#footer div:nth-child(1) a {
    text-decoration: none;
    font-size: 13px;
    color: #959595;
    padding-right: 10px;
}
#footer div:nth-child(1) p {
    padding-top: 10px;
    font-size: 13px;
    color: #959595;
}
#footer div:nth-child(2) {
    float: right;
    padding: 0 15px;
    width: 280px;
    margin-top: 40px;
}
#toplist {
    width: 1048px;
    height: 31px;
}
#user {
    margin-left: 238px;
    float: left;
    margin-top: -9px;
}
#user ul li {
    background: url(https://statics.gogoanime.se/img/icon-user.png) no-repeat left bottom;
    padding: 3px 30px;
    position: relative;
    margin-left: -40px;
    margin-top: -2px;
}
#user ul li a {
    text-decoration: none;
    color:#a1a1a1;
    font-size: 11px;
}
#mxhcontact {
    float: right;
    margin-right: -2px;
}
#mxhcontact ul {
    float: right;
    list-style-type: none;
}
#mxhcontact ul li {
    margin-top: -12px;
}
#mxhcontact ul li a img {
    width: 30px;
    height: 30px;
}
#midimg {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-right: -10px;
}
#contact {
    float: right;
    margin-right: -34px;
    margin-top: 2px;
}
#contact ul a {
    text-decoration: none;
    color:#a1a1a1;
    font-size: 11px;
}
#menubanner ul li {
    margin-right: 30px;
}
#Homebanner {
    color: #ffc119 !important;
    text-decoration: none;
    border-bottom: 2px solid #ffc119;
    padding-bottom: 3px;
}
#menubanner ul li a {
    text-decoration: none;
    color:white;
}
#menurecent h2 {
    float: left;
    font-family:mySecondFont,monospace;
    font-size: 15px;
    padding-left: 6px;
}
#menurecent h2 a:nth-child(1) {
    color: white;
    text-decoration: none;
    word-spacing: -6px
}
#menurecent h2 a:nth-child(2) {
    color: black;
    margin:4px 4px;
}
#menurecent h2 a:nth-child(3) {
    color: black;
    text-decoration: none;
}
.page ul li a:nth-child(1) {
    margin-right: 10px;
    background: #00a651;
    padding: 4px 8px;
    color: white;
}
.pageup ul li a:nth-child(1) {
    margin-right: 10px;
    background: #00a651;
    padding: 4px 8px;
    color: white;
}
.page ul li a:nth-child(n+2) {
    margin-right: 17px;
}
.pageup ul li a:nth-child(n+2) {
    margin-right: 17px;
}
#menuadv h2 {
    color: #252525;
    font-family: monospace;
    font-size: 15px;
    margin-left: 100px
}
#recent ul {
    padding: 0;
    margin-top: 20px;
}
#recent ul li:nth-child(1) {
    float: left;
    width: 163px;
    height: 270px;
}
.left0 {
    float: left;
    width: 163px;
    height: 270px;
    margin-left: 13px;
}
.top0 {
    float: left;
    width: 163px;
    height: 270px;
    margin-top: 20px
}
.lefttop0 {
    float: left;
    width: 163px;
    height: 270px;
    margin-left: 13px;
    margin-top: 20px
}
.imgrecent {
    width: 100%;
    height: 205px;
}
.sub {
    margin-top: -31px;
}
.sub img {
    margin-left: 69px;
}
.name {
    text-align: center;
    font-size: 13px;
    margin-top: 17px;
}
.name a {
    text-decoration: none;
    color:#ffc119;
}
.Ep3 {
    text-align: center;
    font-size: 13px;
    margin-top: -3px;
}
.Ep26 {
    text-align: center;
    font-size: 13px;
    margin-top: 26px
}
#banner {
    position: relative;
    width: 1048px;
    height: 90px;
}
.imgadv {
    width: 100%;
}
.mgboxx {
    width: 65px; height: 28px; float: right;
}
.textadv {
    text-decoration: none;
    color: #ffc119;
    font-size: 16px;
    font-family: SansSerif monospace;
    font-weight: 700;
    margin-left: 10px
}
#qc1 {
    width: 296px;
    height: 140px;
}
.qc2 {
    width: 100%;
    margin-top: 12px;
    height: 140px;
}
#menuupdate h2 {
    color: #252525; font-size: 14px; margin-left: 67px;
}
.imgupdate {
    width: 90px;
    height: 90px;
    float:left;
    margin-right: 12px;
}
.nameupdate {
    text-decoration: none;
    color: #ffc119;
    float:left;
    font-size: 13px;
}
#swordart {
    text-decoration: none;
    color: #ffc119;
    float:left;
    font-size: 13px;
    height:30px;
    width: 240px;
}
#logo {
    float: left;
    margin-top: 11px;
    margin-left: -334px;
}
#menubanner {
    float:left;
    margin-left: -177px;
    margin-top: -6px;
}
#menubanner ul {
    list-style-type: none;
}
#menubanner ul li {
    display: inline-table;
    line-height: 72px;
    font-size: 14px;
}
#search {
    float: right;
    width: 299px;
    border: solid darkgray 1px;
    margin-top: 9px;
    background-color: rgba(0, 0, 0, 0.46);
}
#nuttim {
    background: url(https://statics.gogoanime.se/img/bg/search.png) no-repeat left;
    width: 28px;
    height: 30px;
    float: right;
    border: 0;
}
#textsearch {
    color: white;
    width: 250px;
    height: 24px;
    float:left;
    border: 0;
    background-color:inherit;
    padding: 2px 3px 3px 3px;
}
ul {
    list-style-type: none;
}
#imgnaruto {
    background: url(https://statics.gogoanime.se/img/bg/recent_release.png) no-repeat center top;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
.page {
    float: right;
    margin-right: -157px;
}
.pageup {
    float: right;
    margin-right: -157px;
}
.page ul li {
    margin-top: -3px;
    font-size: 11px;
    width: 300px;
    height: 20px;
    line-height: 10px;
}
.pageup ul li {
    margin-top: -3px;
    font-size: 11px;
    width: 300px;
    height: 20px;
    line-height: 10px;
}
.page ul li a {
    color: black;
    text-decoration: none;
}
.pageup ul li a {
    color: black;
    text-decoration: none;
}
.pageup {
    margin-top: -38px;
}
.genres {
    float:left;
    width:240px;
    height: 50px;
    color:#898989;
    font-size: 13px;
}
.genres span {
    color:#ffffff;
}
.genres a {
    text-decoration: none;
    color:#898989;
    font-size: 12px;
}
#imgninja {
    background: url(https://statics.gogoanime.se/img/bg/adverting.png) no-repeat center top;
    height: 56px;
    width: 60px;
    float: left;
    margin-top: -16px;
}
#imgupdate {
    background:  url(https://statics.gogoanime.se/img/bg/comedy.png) no-repeat center top;
    height: 56px;
    width: 60px;
    float: left;
    margin-top: -16px;
}
#imgongoing {
    height: 56px;
    width: 60px;
    float: left;
    margin-top: -16px;
    background: url(https://statics.gogoanime.se/img/bg/ongoing.png) no-repeat center top;
}
.left {
    margin-top: 12px;
    float: left;
    margin-left: -21px;
    width: 50%;
    height: 110px;
    border-right: solid 1px #555;;
}
.right {
    float: left;
    margin-top: 12px;
    width: 50%;
    height: 110px;
    margin-left: 20px;
}
#imgseri {
    height: 56px;
    width: 60px;
    float: left;
    margin-top: -16px;
    background: url(https://statics.gogoanime.se/img/bg/added_series.png) no-repeat center top;
}
#leftse {
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid #555;
}
#leftse ul {
    list-style-type: none;
}
#leftse ul li {
    padding: 3px 0 3px 0;
}
#rightse {
    float: right;
    width: 49%;
    height: 100%;
}
#rightse ul {
    list-style-type: none;
}
#rightse ul li {
    padding: 3px 0 3px 0;
}
.lista {
    text-decoration: none;
    color: #ffc119;
    font-size: 12px;
    margin-left: -20px;
}
.listb {
    text-decoration: none;
    color: #ffc119;
    font-size: 12px;
    margin-left: -27px;
}
#listseries ul li {
    margin-left: -5px;
    list-style-type: none;
    padding: 2px 0;
}
#listseries ul li a {
    text-decoration: none;
    color: #ffc119;
    font-size: 12px;
    margin-left: -25px;
}
#genre ul li {
    padding: 3px 0;
}
.left2 {
    margin-left: -20px;
    float:left;
    width: 50%;
    border-right: solid 1px #555;
    font-size: 13px;
}
.right2 {
    margin-left: 20px;
    float: left;
    width: 49%;
    font-size: 13px;
}
#content {
    background-color: inherit;
    width: 1048px;
    height: 2169px;
}
#menugenre {
    box-sizing: border-box;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/anime_movies_bong.png) no-repeat right top;
}
#menugenre h2 {
    float: left;
    font-family:mySecondFont,monospace;
    font-size: 15px;
    padding-left: 6px;
    color: #252525;
}
#imggenre {
    background: url(https://statics.gogoanime.se/img/bg/anime_movies.png) no-repeat center top;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
#genre {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 1500px;
    border: white solid 1px;
    float: left;
    padding: 0 16px;
}
#genre ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
#genre ul li:nth-child(1) {
    float: left;
    width: 163px;
    height: 270px;
}
#menurelease {
    background: url(https://statics.gogoanime.se/img/bg/ongoing_bong.png) #ffc119 right top no-repeat ;
    width: 298px;
    height: 40px;
    float: right;
    margin-top: 30px;
}
#menurelease h2 {
    color: #252525;
    font-size: 13px;
    margin-left: 67px;
}
#imgrelease {
    height: 56px;
    width: 60px;
    float: left;
    margin-top: -16px;
    background: url(https://statics.gogoanime.se/img/bg/ongoing.png) no-repeat center top;
}
#release {
    padding-top: 20px;
    box-sizing: border-box;
    float: right;
    width: 298px;
    height: 1140px;
    border: solid white 1px;
}
#ochuascrb {
    margin-right: 3px;
    width: 95%;
    height: 1660px;
    float: right;
    overflow:auto;
}
#ochuascrb::-webkit-scrollbar {
    width: 5px;
    background-color: inherit;
}
#ochuascrb::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 10px;
}
#ochuascrollbar {
    margin-right: 3px;
    width: 95%;
    height: 1100px;
    float: right;
    overflow:auto;
}
#ochuascrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: inherit;
}
#ochuascrollbar::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 10px;
}
#listrelease {
    padding: 0;
    width: 95%;
    height: 200px;
}
#listrelease ul li {
    width: 270px;
    float: left;
    margin-left: -40px;
    margin-bottom: 15px;
}
.textrelease {
    float:left;
    margin-top: -15px;
    margin-left: 15px;
}
.textrelease p:nth-child(1) {
    color: #ffc119;
    text-align: left;
    font-size: 12px;
}
.textrelease p:nth-child(1) a {
    text-decoration: none;
    color: #ffc119;
}
.textrelease p:nth-child(2) {
    font-size: 12px;
    color: #fdfcfc;
}
.imgre {
    float: left;
    background-image: url(https://images.gogoanime.tv/cover/yowamushi-pedal-glory-line.png);
    background-size: 100% auto;
    width: 90px;
    height: 60px;
}
#animeinfobar {
    box-sizing: border-box;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/anime_info_bong.png) no-repeat right top;
}
#animeinfobar h2 {
    float: left;
    font-family:mySecondFont,monospace;
    font-size: 15px;
    padding-left: 6px;
    color: #252525;
}
#imganimeinfobar {
    background: url(https://statics.gogoanime.se/img/bg/anime_info.png) no-repeat center top;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
#animeinfo {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 2000px;
    border: white solid 1px;
    float: left;
    padding: 0 16px;
}
#animeinfobody {
    width: 100%;
}
#animeinfobody1 {
    width: 100%;
    margin: 20px 0;
    float: left;
}
#img1 {
    float: left;
    width: 305px;
    height: 430px;
    padding-right: 15px;
}
#animeinfobody1 h1 {
    font-size: 13px;
    color: #ffc119;
}
#animeinfobody1 p:nth-child(3) {
    font-size: 12px;
    color: red;
}
#animeinfobody1 p:nth-child(3) img {
    margin-right: 5px;
    margin-bottom: -4px;
}
#animeinfobody1 p:nth-child(3) a {
    text-decoration: none;
    color:red;
}
#animeinfobody1 p:nth-child(n+4) {
    font-size: 12px;
    color: #fff;
    margin-top: 25px;
}
#animeinfobody1 p:nth-child(n+4) span {
    color:#00a651;
}
#animeinfobody1 p:nth-child(n+4) a {
    text-decoration: none;
    color: #fff;
}
#animeinfobody div:nth-child(2) {
    border-bottom: solid black 1px;
}
#animeinfobody div:nth-child(2) h2 {
    font-size: 13px;
    color: #ffc119;
    margin-bottom:7px;
}
#animeinfovideo {
    margin-top: 10px;
}
#animeinfovideo #numep {
    color: #ffc119;
    font-size: 12px;
}
#listvideo {
    width: 692px;
    height: 129px;
}
.video {
    margin: 20px 10px 0 0 ;
    background-color: #363636;
    width: 88px;
    height: 35px;
    float: left;
}
.video ul {
    list-style-type: none;
}
.video ul li {
    margin-left: -30px;
    margin-top: -10px;
}
.video ul li a {
    padding: 1px;
    text-decoration: none;
    font-size: 12px;
}
.video ul li a:nth-child(1) {
    color: #fff;
}
.video ul li a:nth-child(n+2) {
    color: #737373;
}
#mgbox {
    width: 706px;
    height: 450px;
    margin-left: -2px;
    margin-top: 15px;
}
#mgbox p {
    margin-top: 0;
}
#mgb {
    width:706px;
    height: 25px;
    margin-bottom: 10px;
}
#mgb a img {
    width: 65px;
    float: right;
    margin-right: 5px;
}
.imgtext {
    width: 32%;
    height: 197px;
    float: left;
    margin-right: 9px;
    margin-bottom: 10px;
    color: #ffc119;
    font-size: 14px;
}
#commentbar {
    padding-top: 5px;
}
#commentbar h1 {
    color: cornflowerblue;
    font-size: 18px;
}
#bar1 {
    width: 686px;
    height: 41px;
    margin-top: 20px;
    border-bottom: 2px solid rgba(255,255,255,.2);
}
#bar1 div:nth-child(1) {
    float: left;
    font-weight: 600;
}
#bar1 div:nth-child(2) {
    float: left;
    margin-left: 40px;
    font-weight: 600;
}
#bar1 a {
    text-decoration: none;
    color:white;
}
#bar1 div:nth-child(3) {
    float: right;
}
.image {
    width: 100%;
    height: 156px;
}
#bar2 {
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
}
#bar2 a{
    text-decoration: none;
    color: white;
}
#bar2 a div {
    float: left;
}
#bar2 a div span {
    background-color:white;
    padding: 2px 8px 3px;
    font-size: 11px;
    margin-left: 2px ;
    border-radius: 2px;
    color:black;
}
#bar2 div:nth-child(2) {
    float: left;
    margin-left: 50px;
}
#bar2 div:nth-child(3) {
    float: right;
}
#textarea {
    width: 692px;
    height: 48px;
}
#textarea img {
    width: 100%;
    height: 100%;
}
#textarea div:nth-child(2) input {
    width:622px;
    height: 48px;
    background-color:white;
    float: right;
    border-radius: 5px;
    box-sizing: border-box;
    border:1px solid black;
}
#textarea div:nth-child(2) input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 600;
    padding-left: 13px;
}
#textarea div:nth-child(1) {
    float: left;
    width: 48px;
    height: 48px;
}
#mxh {
    margin-left: 70px;
    margin-top:20px;
    height: 60px;
    width: 628px;
}
#loginwith {
    width: 159px;
    height: 60px;
    float: left;
}
#loginwith h6 {
    margin-top: 0;
}
#loginwith ul li {
    margin-left: -40px;
    margin-top: -10px;
}
#loginwith img {
    width: 25px;
}
#disqus {
    float: right;
    width: 460px;
    height: 60px;
}
#disqus h6 {
    margin-top: 0;
}
#disqus form {
    margin-top: -10px;
}
#disqus input {
    width: 448px;
    height: 26px;
    border-radius: 6px;
}
#postcontent {
    width: 692px;
    height: 64px;
    margin-top: 40px;
}
.avatar {
    float: left;
    width: 48px;
    height: 48px;
}
.avatar img {
    width: 48px;
    height: 48px;
}
.postcmt {
    font-size: 12px;
    float: right;
    width: 626px;
    height: 64px;
}
.postcmt a:nth-child(1) {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.postcmt span {
    color: rgb(50, 62, 53) !important;
}
.postcmt p {
    margin-top: 7px;
}
#giaodienxemphimbar {
    box-sizing: border-box;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/anime_info_bong.png) no-repeat right top;
}
#giaodienxemphimbar h2 {
    float: left;
    font-family:mySecondFont,monospace;
    font-size: 15px;
    padding-left: 6px;
    color: #252525;
}
#imggiaodienxemphimbar {
    background: url(https://statics.gogoanime.se/img/bg/anime_video.png) no-repeat center top;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
#giaodienxemphim {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 2100px;

    float: left;
    padding: 0 16px;
    font-size: 12px;
}
#giaodienxemphim h1 {
    color: #ffc119;
    font-size: 14px;
}
#giaodienxemphim p:nth-child(2) a {
    text-decoration: none;
    color: #ffc119;
}
#giaodienxemphim p:nth-child(3) a {
    text-decoration: none;
    color: #ffc119;
}
#giaodienxemphim p:nth-child(4) {
    text-align: center;
    color: #ffc119;
}
#giaodienxemphim p:nth-child(4) a {
    color:#00a651;
    text-decoration: none;
}
#report {
    float: right;
    margin-top: -27px;
    text-decoration: none;
    color:#00a651;
}
#quangcaoo {
    font-size: 14px;
    width: 692px;
    height: 210px;
    margin-bottom: 30px;
}
.mgboxxx {
    width: 692px;
    height: 22px;
}
.mgboxxximg {
    width: 65px;
    float: right;
}
.quangcao12 {
    text-decoration: none;
    color: #ffc119;
}
.quangcao12 div {
    width: 222px;
    float: left;
    margin-right: 12px;
}
.quangcao12 div img {
    width: 222px;
}
.quangcao12 div p {
    margin-top: 0;
}
#quangcao3 {
    text-decoration: none;
    color: #ffc119;
}
#quangcao3 div {
    width: 222px;
    float: left;
}
#quangcao3 div img {
    width: 222px;
}
#quangcao3 div p {
    margin-top: 0;
}
#download {
    text-decoration: none;
    color: white;
    background-color: #ffc119;
    padding: 9px 10px 9px 10px;
}
#favorite {
    text-decoration: none;
    color: white;
    background-color: #ffc119;
    padding: 9px 10px 9px 10px;
    margin-left: 10px;
}
.imgtext p {
    margin-top: 0;
}
#clip {
    background: url(https://images6.alphacoders.com/339/thumb-1920-339197.jpg) no-repeat;
    background-size: 100% auto;
    margin-top: 30px;
    width: 692px;
    height: 400px;
}
#multilink ul li {
    padding: 0 0 0 34px;
    position: relative;
    margin-top: 1px;
}
#multilink ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
    display: block;
}
#multilink ul li a span {
    position: absolute;
    right: 0;
    top: 0;
    width: 132px;
    padding: 10px 0;
    text-align: center;
}
#multilink ul{
    margin-top: 10px;
    padding-left: 0;
    border-top: solid 1px red;
    padding-top: 20px;
}
.postcmt {
    font-size: 12px;
    float: right;
    width: 626px;
    height: 64px;
}
#menulist {
    box-sizing: border-box;
    width: 726px;
    height: 40px;
    border: white solid 1px;
    float: left;
    background: #ffc119 url(https://statics.gogoanime.se/img/bg/anime_list_bong.png) no-repeat right top;
}
#menulist h2 {
    float: left;
    font-family:mySecondFont,monospace;
    font-size: 15px;
    padding-left: 6px;
    color: #252525;
}
#imgmenulist {
    background: url(https://statics.gogoanime.se/img/bg/anime_list.png) no-repeat center top;
    height: 56px;
    width: 60px;
    margin-top: -16px;
    float: left;
}
#list {
    box-sizing: border-box;
    background-color: inherit;
    width: 726px;
    height: 1900px;
    border: white solid 1px;
    float: left;
    padding: 0 16px;
}
#listsearch {
    width: 700px;
}
#listsearch ul li a{
    text-decoration: none;
    color: inherit;
    padding: 6px;
    display: inline-block;
    font-size: 13px;
}
#listsearch ul {
    padding-left: 0;
    text-align: center;
}
#listsearch ul li a:nth-child(1) {
    color: #ffc119;
}
#listbody ul li a{
    overflow: hidden;
    color:white;
    text-decoration: none;
    font-size: 12px;
}
#listbody ul {
    margin-top: -5px;
    list-style-type: none;
    padding-left: 0;
}
#listbody ul li {
    width: 50%;
    float: left;
    padding-top: 7px;
}
@media screen and (max-width:768px) {
    body {
        width: 768px;
        margin: 0;
    }
    #topmenu {
        position: absolute;
        top: 30px;
        left: 20px;
        display: block;
    }
    #topmenu img {
        height: 15px;
    }
    #dropdownmenu {
        display: none;
        font-size: 13px;
        position: absolute;
        top: 60px;
        max-width: 300px;
        width: 100%;
        height: auto;
        background-color: #111111;
    }
    #topmenu:hover ~ #dropdownmenu {
        display: block;
    }
    #dropdownmenu ul {
        width: 100%;
        height: auto;
        padding: 20px 0 0 20px;
        margin:0;
    }
    #dropdownmenu ul li {
        margin-left: -21px;
        border-bottom: 1px solid black;
        width: 100%;
        float: left;
    }
    #useractive {
        background: url(https://statics.gogoanime.se/img/icon-user.png) no-repeat 16px center;
    }
    #useractive a {
        line-height: 44px;
        text-decoration: none;
        color:white;
    }
    #useractive a:nth-child(1) {
        margin-left: 60px;
    }
    #homeactive {
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/home-hover.png) no-repeat 16px center;
        background-size: 26px auto;
    }
    #listactive {
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/list-anime.png) no-repeat 16px center;
        background-size: 26px auto;
    }
    #newseasonactive {
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/series.png) no-repeat 16px center;
        background-size: 26px auto;
    }
    #moviesactive {
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/movie.png) no-repeat 16px center;
        background-size: 26px auto;
    }
    #popular {
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/popu.png) no-repeat 16px center;
        background-size: 26px auto;
    }
    #genreactive {
        padding-bottom: 10px;
        background: url(https://www3.gogoanime.se/img/bg/nav_menu/genre.png) no-repeat 16px 15px;
        background-size: 26px auto;
    }
    #dropdownmenu ul li:nth-child(n+2) a {
        padding-left: 60px;
        line-height: 44px;
        text-decoration: none;
        color: white;
    }
    #genreactive ul {
        width: 100%;
        padding-top: 0;
    }
    #genreactive ul li {
        border: none;
        width: 50%;
        float: left;
        margin: 0;
    }
    #genreactive ul li:nth-child(2n+1) {
        margin-left: -10px;
    }
    #genreactive ul li:nth-child(2n+2) {
        margin-left: -25px;
    }
    #dropdownmenu ul li:nth-child(7) ul li a {
        line-height: 30px;
    }
    #wrapperhome {
        width: 100%;
        height: auto;
    }
    #wrapper {
        width: 100%;
        height: auto;
    }
    #containerhome {
        width: 100%;
        height: auto;
    }
    #container {
        width: 100%;
        height: auto;
    }
    #menuadv {
        display: none;
    }
    #adv {
        display: none;
    }
    #menurelease {
        display: none;
    }
    #release {
        display: none;
    }
    #menuongoing {
        display: none;
    }
    #ongoing {
        display: none;
    }
    #menuseries {
        display: none;
    }
    #series {
        display: none;
    }
    #menugenrehome {
        display: none;
    }
    #genrehome {
        display: none;
    }
    #header {
        background-color: #111111;
        width: 100%;
        height: auto;
    }
    #toplist {
        display: none;
    }
    #banner {
        width: 100%;
    }
    #logo {
        max-height: 32px;
        margin: 20px 100px;
    }
    #menubanner {
        display: none;
    }
    #imglogo {
        max-height: 32px;
    }
    #textsearch {
        width: 40%;
    }
    #search {
        width: 40%;
        margin: 20px 20px;
    }
    #menurecent {
        width: 100%;
    }
    #recent {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #footerhome {
        border: none;
        width: 100%;
        margin: 0;
    }
    #footer {
        border: none;
        width: 100%;
        margin: 0;
    }
    #recent ul li {
        width: 23%;
        margin-left: 0;
        padding-left: 10px;
    }
    #recent ul li:nth-child(1) {
        width: 23%;
    }
    #recent ul li:nth-child(4n+1) {
        padding-left: 10px;
    }
    #recent ul {
        padding-left: 10px;
    }
    #menuupdate {
        width: 100%;
    }
    #update {
        width: 100%;
    }
    #footerhome div:nth-child(2) {
        width: 14%;
    }
    #footerhome div:nth-child(2) img {
        width: 100px;
    }
    #footerhome div:nth-child(1) {
        margin: 30px 0 0 20px;
    }
    #footerhome div:nth-child(1) p {
        padding-top: 0;
    }
    #footer div:nth-child(2) {
        width: 14%;
    }
    #footer div:nth-child(2) img {
        width: 100px;
    }
    #footer div:nth-child(1) {
        margin: 30px 0 0 20px;
    }
    #footer div:nth-child(1) p {
        padding-top: 0;
    }
    #menugenre {
        width: 100%;
    }
    #content {
        width: 100%;
        height: auto;
    }
    #genre {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #genre ul li {
        width: 23%;
        margin-left: 0;
        padding-left: 10px;
    }
    #genre ul li:nth-child(1) {
        width: 23%;
    }
    #genre ul li:nth-child(4n+1) {
        padding-left: 10px;
    }
    #genre ul {
        padding-left: 10px;
    }
    #animeinfobar {
        width: 100%;
        height: auto;
    }
    #animeinfo {
        height: auto;
        width: 100%;
        padding: 0;
    }
    #animeinfovideo {
        width: 100%;
    }
    #listvideo {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #mgbox {
        width: 100%;
        height: 430px;
        margin: 20px 0;
        padding-left: 10px;
    }
    .imgtext {
        padding:0 5px;
        width: 32%;
        margin: 0;
    }
    #commentbar {
        width: 100%;
        height: auto;
    }
    #commentbar h1 {
        margin-top: 0;
    }
    #comment {
        width: 98%;
        height: auto;
        padding:0 5px;
    }
    #bar1 {
        width: 100%;
    }
    #textarea {
        width: 100%;
    }
    #textarea img {
        display: none;
    }
    #textarea input {
        width: 100%;
        float: left;
    }
    #giaodienxemphimbar {
        width: 100%;
    }
    #giaodienxemphim {
        width: 100%;
        height: auto;
        padding: 0 20px ;
    }
    .mgboxxx {
        width: 100%;
    }
    #quangcaoo {
        width: 100%;
    }
    .quangcao12 div {
        width: 33%;
    }
    .quangcao12 div img {
        width: 100%;
    }
    #clip {
        width: 100%;
    }
    .imgtext {
        width: 31%;
    }
    #menulist {
        width: 100%;
    }
    #list {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    body {
        width: 320px;
        margin: 0;
    }
    #topmenu {
        position: absolute;
        top: 20px;
        left: 20px;
        float: left;
        display: block;
    }
    #wrapperhome {
        width: 100%;
        height: auto;
    }

    #wrapper {
        width: 100%;
        height: auto;
    }

    #containerhome {
        width: 100%;
        height: auto;
    }

    #container {
        width: 100%;
        height: auto;
    }

    #menuadv {
        display: none;
    }

    #adv {
        display: none;
    }

    #menurelease {
        display: none;
    }

    #release {
        display: none;
    }

    #menuongoing {
        display: none;
    }

    #ongoing {
        display: none;
    }

    #menuseries {
        display: none;
    }

    #series {
        display: none;
    }

    #menugenrehome {
        display: none;
    }

    #genrehome {
        display: none;
    }

    #header {
        background-color: #111111;
        width: 100%;
        height: auto;
    }
    #toplist {
        display: none;
    }
    #banner {
        width: 100%;
    }
    #logo {
        margin-left: 120px;
        max-height: 32px;
        max-width: 30px;
    }
    #logo img {
        max-height: 32px;
    }
    #menubanner {
        display: none;
    }
    #imglogo {
        max-height: 32px;
    }
    #textsearch {
        display: none;
    }
    #nuttim {
        display: none;
    }
    #search {
        float: right;
        background: url(https://statics.gogoanime.se/img/bg/search.png) no-repeat center top;
        background-size: auto;
        width: 7%;
        height: 20px;
        border: none;
        margin-top: 30px;
    }
    #menurecent {
        width: 100%;
    }
    .page {
        display: none;
    }
    #recent {
        float: left;
        padding: 0 17px 0 0;
        margin: 0;
        width: 100%;
        height: 3000px;
        border: none;
    }
    #update ul li {
        border: none;
        float: left;
        width: 100%;
    }
    .nameupdate {
        float: left;
        width: 60%;
    }
    .genres {
        width: 60%;
    }
    #swordart {
        width: 60%;
    }
    li.right {
        margin: 0 0 0 -21px;
    }
    #footerhome {
        border: none;
        width: 100%;
        margin: 0;
    }
    #footer {
        border: none;
        width: 100%;
        margin: 0;
    }
    #recent ul li {
        width: 46%;
        margin-left: 0;
        padding-bottom: 10px;
    }
    #recent ul li:nth-child(1) {
        width:46%;
    }
    #recent ul li:nth-child(4n+1) {
        padding-left: 10px;
    }
    #recent ul {
        padding-left: 10px;
    }
    .pageup {
        display: none;
    }
    #menuupdate {
        border: none;
        float: left;
        margin-top: 20px;
        width: 100%;
    }
    #update {
        border: none;
        border-bottom: white 1px solid;
        height: auto;
        float: left;
        margin-top: 10px;
        width: 100%;
    }
    #footerhome div:nth-child(2) {
        width: 14%;
    }
    #footerhome div:nth-child(2) img {
        width: 100px;
    }
    #footerhome div:nth-child(1) {
        font-size: 9px;
        width: 70%;
        margin: 30px 0 0 20px;
    }
    #footerhome div:nth-child(1) p {
        font-size: 10px;
        padding-top: 0;
    }
    #footer div:nth-child(2) {
        width: 14%;
    }
    #footer div:nth-child(2) img {
        width: 100px;
    }
    #footer div:nth-child(1) {
        margin: 30px 0 0 20px;
        font-size: 9px;
        width: 70%;
    }
    #footer div:nth-child(1) p {
        padding-top: 0;
        font-size: 10px;
    }
    #menugenre {
        width: 100%;
    }
    #content {
        width: 100%;
        height: auto;
    }
    #genre {
        height: 3000px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #genre ul li {
        width: 46%;
    }
    #genre ul li:nth-child(1) {
        width: 46%;
    }
    #genre ul li:nth-child(2n+1) {
        padding-left: 2px;
    }
    #genre ul {
        padding-left: 10px;
    }
    #animeinfobar {
        width: 100%;
        height: auto;
    }
    #animeinfo {
        height: auto;
        width: 100%;
        padding: 0 15px;
    }
    #img1 {
        width: 35%;
        height: auto;
    }
    #animeinfovideo {
        width: 100%;
        padding: 0;
    }
    #listvideo {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .video {
        margin: 0 0 5px 7px;
        width: 30%;
        padding: 0;
    }
    #mgb {
        width: 100%;
    }
    #mgbox {
        width: 100%;
        height: 1250px;
        margin: 50px 0 0 0;
        padding: 0;
    }
    .imgtext {
        padding: 0;
        width: 100%;
        height: auto;
    }
    #commentbar {
        width: 100%;
        height: auto;
    }
    #commentbar h1 {
        margin-top: 0;
    }
    #comment {
        padding: 0;
        width: 100%;
        height: auto;
    }
    #bar1 {
        width: 100%;
    }
    #bar div:nth-child(1) {
        width: 10%;
    }
    #bar1 div:nth-child(2) {
        display: none;
    }
    #bar2 div:nth-child(2) {
        display: none;
    }
    #textarea {
        width: 100%;
    }
    #textarea img {
        display: none;
    }
    #textarea div:nth-child(2) input {
        width: 100%;
    }
    #textarea div:nth-child(2) input::-webkit-input-placeholder {
        font-weight: normal;
    }
    #giaodienxemphimbar {
        width: 100%;
    }
    #giaodienxemphim {
        width: 100%;
        height: auto;
        padding: 0 20px ;
    }
    #giaodienxemphim p:nth-child(4) {
        line-height: 20px;
        height: 20px;
        font-size: 11px;
        text-align: left;
        background: url(https://www3.gogoanime.se/img/report.png) no-repeat right top ;
    }
    .mgboxxx {
        width: 100%;
    }
    #quangcaoo {
        margin-bottom: 0;
        width: 100%;
    }
    .quangcao12 div {
        width: 46%;
        margin:0 5px 0 6px;
    }
    #quangcao3 div {
        display: none;
    }
    #clip {
        height: 170px;
        width: 100%;
    }
    #menulist {
        width: 100%;
    }
    #list {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 3720px;
    }
    #listsearch {
        width: 100%;
    }
    #listsearch ul li a {
        font-size: 11px;
    }
    #listbody ul li {
        width: 100%;
        padding-left: 20px;
    }
    #listbody ul li a {
        font-size: 11px;
    }
    #listbody {
        width: 100%;
    }
    #mxh {
        margin: 0;
        width: 100%;
    }
    #loginwith {
        margin-top: 10px;
        width: 50%;
        float: left;
    }
    #disqus {
        width: 100%;
    }
    #disqus input {
        margin-top: 10px;
        width: 100%;
    }
    #postcontent {
        margin-top: 10px;
    }
    .avatar {
        margin-top: 10px;
    }
    .postcmt {
        margin-top: 10px;
    }
    #report {
        display: none;
    }
    #multilink {
        width: 100%;
        height: auto;
    }
}
